# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# Copy of old python code
autoGraderPy.txt
# Sample data
/HW/*
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# More
.Rproj.user
/test/*
shinyGrader.Rproj
12_Jan_10_25_Grades-36602-A.csv
12_Jan_16_14_Grades-36602-A.csv
solutions.hw2.R
student_123_456_hw1.R
server.pdf
global.pdf
12_Jan_10_25_Grdes-36602-A.csv
fake.txt
shinyGrader.config
*.Rdata
solution_0_0_hw1.R
solution_0_0_hw2.R
goodethomas_11735_123456_hw1-1.R
*.sas
submissions.zip
solution_0_0_hw3.R
data/*
hseltman/*
nothin/*
hbao/*
jiayuz1/*
njgibbs/*
tgoode/*
solution/*
prob1.R
hw3.err
hw3.out
solution_0_0_hw3.py
yimingg1
gaoyiming_11732_789_hw1.Rmd
