rosterDirectory:
C:/Users/hseltman/Documents


courseId:
36602


emailSuffix:



rosterRE:
Canvas


rosterIdCol:
Canvas


rosterNameCol:
Canvas


rosterFirstnameCol:
Canvas


rosterLastnameCol:
Canvas


rosterEmailCol:
Canvas


filenameFormat:
Canvas


filenameNameFormat:
Canvas


lateFlagRE:
Canvas


resubmitRE:
Canvas


config_mod_time:
Tue Jun 19 8:54:46 AM 2018
