rosterDirectory:
c://users/hseltman/Desktop/Teaching/602


courseId:
36602


emailSuffix:



rosterRE:
Canvas


rosterIdCol:
Canvas


rosterNameCol:
Canvas


rosterFirstnameCol:
Canvas


rosterLastnameCol:
Canvas


rosterEmailCol:
Canvas


filenameFormat:
Canvas


filenameNameFormat:
Canvas


lateFlagRE:
Canvas


resubmitRE:
Canvas


config_mod_time:
Wed Jun 20 1:08:04 PM 2018
