rosterDirectory:
~


courseId:
36602


emailSuffix:



rosterRE:
Canvas


rosterIdCol:
Canvas


rosterNameCol:
Canvas


rosterFirstnameCol:
Canvas


rosterLastnameCol:
Canvas


rosterEmailCol:
Canvas


filenameFormat:
Canvas


filenameNameFormat:
Canvas


lateFlagRE:
Canvas


resubmitRE:
Canvas


config_mod_time:
Wed Jun 13 9:03:47 AM 2018
